<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCj4cGL2kpXXNkO51K_De3aLeeajgAEsTg</string>
	<key>GCM_SENDER_ID</key>
	<string>724496789632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helloAstroUser</string>
	<key>PROJECT_ID</key>
	<string>hello-astro-bfb74</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-astro-bfb74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724496789632:ios:d153f7246b25b7fdde7665</string>
</dict>
</plist>